body {
  margin: 0;
  padding: 0;
  /*font-family: sans-serif;*/
}
body{
  height:100%;
  width:100%;
  background: #fff;
  font-family: sans-serif;
}
/** App **/
#login-top{
  height:200px;
  font-size: 0.7rem;
  font-weight: bold;
  color: #42A2EA;
  text-align: center;
  margin-top:300px;
  margin-bottom: 100px;
}
.login-txt{
  padding-top: 400px;
}
#login-box{
  width: 85%;
  margin: 10px auto 30px;
}
.agree{
  margin: 20px;
}
#login-bottom{
  text-align: center;
  color: #B6BABE;
  padding-top: 200px;
}



/** Home **/
.my-drawer {
  position: relative;
  overflow: auto;
}
.my-drawer .am-drawer-sidebar {
  background-color: #22242E;
  overflow: auto;
}
.my-drawer .am-drawer-sidebar .am-list {
  width: 6rem;
  padding: 0;
}
.am-list-item-middle{
  background-color: #22242E;
}
/*#home-box{
  background: #22242E;
  color: #fff;
}*/
.home-img{
  width: 150px !important;
  height: 150px !important;
  border-radius: 50%;
}
.home-box{
  width: 150px;
  margin: 10px auto;
}
.home-top{
  width: 200px;
  margin: 0 auto;
}
#home-bottom{
  margin-top: 361px;
}
.home-bottom{
  width: 50px !important;
  height: 50px !important;
  margin-right: 30px;
}
.home-txt{
  font-size: 35px;
}


/** Spot **/
#spot > p{
  width: 95%;
  margin: 10px auto;
  border-bottom: 1px solid #F5F5F5;
  font-size: 40px;
  color: #000;
  font-weight: bold;
  line-height: 2;
}
a:hover{
  /*color:#42A2EA !important;*/
}


/** ProductList **/
.row {
  padding: 0 0.3rem;
  background-color: white;
}
.row-title {
  height: 1rem;
  line-height: 1rem;
  color: #888;
  font-size: 0.36rem;
  border-bottom: 1px solid #F6F6F6;
}
.row-text {
  display: inline-block;
  font-size: 0.32rem;
  line-height: 1.6;
  /*margin-left: -15px;*/
}
.list-view-section-body{
  border-bottom: 12px solid #f6f6f6;
}
.am-drawer-content{
  padding-top: 0 !important;
}
/*.am-search {
  height:0.9rem!important;
}
.am-search-input{
  height: 0.6rem;
}
.am-search-synthetic-ph, .am-search-value, .am-search-clear{
  margin-top: 0.08rem;
}*/

/** ProductDetailContainer **/
/*.inline {
  min-width: 1.6rem;
  margin: 0.12rem 0.12rem 0.12rem 0;
}*/
.inline-box{
  min-width: 1.2rem;
  margin: 0.12rem 0.12rem 0.12rem 0;
}
.am-button-small{
  font-size: 0.27rem;
  height: 0.5rem;
  line-height: 0.5rem;
}


/** BasketListContainer **/
.am-swipe-content{
  border-bottom: 2px solid #eee;
}

/*svg{
  width: 0.8rem!important;
  height: 0.5rem!important;
}*/


/** PayContainer **/
.am-list .am-list-item.am-radio-item .am-list-line .am-list-extra .am-radio-inner {
    /*right: 2.5rem;*/
    top: 30px;
}

.pay-am-list-item-middle{
  background-color:#fff;
}


